.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    color: white;
    height: 60px;
    padding: 2px 28px;
    position: sticky;
    top: 0;

    .navLeft {
        display:flex;
        align-items: center;
        justify-content: space-around;


        img {
            width:40px;
            object-fit: contain;
        }

        input {
            width: 260px;
            height: 34px;
            background-color: var(--input-color);
            margin-left: 10px;
            font-size: 14px;
            padding-left: 10px;
            font-weight: bold;
            border: 1px solid var(--line-color);
            border-radius: 4px;
        }

        input:focus {
            width: 400px;
            transition: width ease-out 0.3s;
        }
    }


}

